<div class="row">
  <div class="col-sm-1">
    Search
    <input type="text" class="form-control" [(ngModel)]="searchValue" (input)="searchOnValueChange($event.target.value)" placeholder="key word"
    />
  </div>
  <div class="col-sm-1">
    In
    <p-dropdown [options]="searchOptions" [(ngModel)]="searchOption" placeholder="Select key" optionLabel="label" (onChange)="searchOnKeyChange($event.value)"></p-dropdown>
  </div>
</div>
<div class="row">
  <div class="ui-g">
    <p-card class="ui-lg-2 ui-md-3 ui-sm-6" *ngFor="let currency of currencies" title="{{currency.id}}" subtitle="Summary" styleClass="ui-card-shadow"
      (click)="redirectToCurrencyDetails(currency.id)" [style]="{cursor: 'pointer'}">
      <div>
        <table>
          <tr>
            <td>Id: </td>
            <td>{{currency.id}} </td>
          </tr>
          <tr>
            <td>Type: </td>
            <td>{{currency.attributes.type}} </td>
          </tr>
          <tr>
            <td>Symbol: </td>
            <td>{{currency.attributes.symbol}} </td>
          </tr>
        </table>
      </div>
    </p-card>
  </div>
  <div class="row">
    <p-paginator [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,50,100]" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>